{% extends 'inventory/base.html' %}

{% block content %}

    <div class="buttion_place">
        <a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> + Add Stock Item</a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Part</th>
            <th>Project</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for item in stock_items %}

            <tr>
                <th>
                    <a href="">
                        {{ item.pk }}
                    </a>
                </th>
                <td>{{ item.part }}</td>
                <td>{{ item.project }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.updated }}</td>
                <td>
                    <button class="btn btn-danger" id="btn-delete" data-url="#" data-toggle="modal"
                                data-target="#removeCategoryModal">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                    <button class="btn btn-info show-form-delete" id="btn-update" data-url="#">
                        <span class="glyphicon glyphicon-trash"></span>
                        Edit
                    </bu
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

