{% extends 'inventory/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row vertical">
            <div class="breadcrumb col-md-12">
                    <p><a href="{% url 'index' %}">Home</a> / Stock </p>
                </div>
            <div class="col-md-4">
                <div class="breadcrumb">
                    <p>Total Product</p>
                </div>

                <div class="breadcrumb">
                    <p>Reserved Product</p>
                </div>


                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">Manage Stock 1</h3>
                    </div>
                    <div class="card-block">

                    </div>
                </div>

                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">Manage Stock 2</h3>
                    </div>
                    <div class="card-block">

                    </div>
                </div>
            </div>


            <div class="col-md-8 center-block">
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">Tresc strony</h3>
                    </div>
                    <div class="card-block">
                        <div id="calendar">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}