{% extends 'inventory/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row vertical">
            <div class="col-md-5 center-block">
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 align="center">Witam na mojej pierwszej stronie.</h3>
                        <br>
                        <h3 align="center"> Masz jakieś pytania, zapraszam do podzielenia się uwagami.</h3>
                    </div>


                    <div id="pgc-7-13-0" "><div id="panel-7-13-0-0" data-index="14"><div class="textwidget"><p></p><div role="form" class="wpcf7" id="wpcf7-f172-p7-o2" lang="pl-PL" dir="ltr">
                    <div class="screen-reader-response" aria-live="polite"></div>
                    <form action="/?gclid=CjwKCAjwmMX4BRAAEiwA-zM4JsriLtF4bH3DjXAqSh8_Ewt83DPQJxt5RBlp8Q_0mH-eGbya5XJBdhoCGJEQAvD_BwE#wpcf7-f172-p7-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="172">
                    <input type="hidden" name="_wpcf7_version" value="5.1.9">
                    <input type="hidden" name="_wpcf7_locale" value="pl_PL">
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f172-p7-o2">
                    <input type="hidden" name="_wpcf7_container_post" value="7">
                    <input type="hidden" name="g-recaptcha-response" value="03AGdBq24qW9YwjNaLQNy0yFTx2lliYF0jxQWiVpitQBJ20ZPxk1sfkWkpSryrEfD9QG6S03t7h1zCF2n_MfB9q2TKUN86L_XaBvymzlDfZlQTfyCKj-Ms1jMKIC9w-5diRBGrddvxG9CCOTiPGa0YeanWzav7R9NlXbqnq1XUc80Taadz4aTkDntwlDdfbLMYMZ6ak5cx4F2ksVSzeDX5KemxF8gk0dC_dxOd6p58P2mU61UZ930Usgp0ZtDce2A2Dok2LvMBXOBNF8RhtSyD85t7t6xzQbQ3ttaz4eqgrVXsnGsc-l-bTswOethI7bYDX5dQll0W4icsw2TJKRgEYi9imsriqmUVSm2WdMUx9tFHTKqnwcaPjUokk-6uMzw0oqR8E6Q2BtEn">
                    </div>
                    <h5>Imię i nazwisko</h5>
                    <p><span class="wpcf7-form-control-wrap text-770"><input type="text" name="text-770" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></p>
                    <h5>Adres e-mail</h5>
                    <p><span class="wpcf7-form-control-wrap email-238"><input type="email" name="email-238" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span></p>
                    <h5>Temat wiadomości</h5>
                    <p><span class="wpcf7-form-control-wrap text-770"><input type="text" name="text-770" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span></p>
                    <h5>Treść wiadomości</h5>
                    <p><span class="wpcf7-form-control-wrap textarea-672"><textarea name="textarea-672" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></textarea></span></p>
                    <p><span class="wpcf7-form-control-wrap acceptance-52"><span class="wpcf7-form-control wpcf7-acceptance optional"><span class="wpcf7-list-item"><label><input type="checkbox" name="acceptance-52" value="1" aria-invalid="false"><span class="wpcf7-list-item-label">Wyrażam zgodę na przetwarzanie danych osobowych.</span></label></span></span></span></p>
                    <p><input type="submit" value="WYŚLIJ" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
                    <div class="wpcf7-response-output wpcf7-display-none" aria-hidden="true"></div></form></div><p></p>
                    </div></div></div>
                    <!--/card-block-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}